body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:100px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:28px;
  width:166px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:34px;
  width:216px;
  height:32px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1235_input:disabled {
  color:grayText;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:1100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1720px;
  height:1100px;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:61px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:140px;
  width:1392px;
  height:61px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:999px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:201px;
  width:1392px;
  height:999px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#14181C;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:158px;
  width:165px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#14181C;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:741px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:263px;
  width:1223px;
  height:741px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u1247_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1247_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:290px;
  overflow:hidden;
}
#u1248_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1248_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:100px;
  width:151px;
  height:153px;
  overflow:hidden;
  visibility:hidden;
}
#u1250_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:153px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1251_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1251.mouseOver {
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1253_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1253.mouseOver {
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1255_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1255.mouseOver {
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1257_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1257.mouseOver {
}
#u1257_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1257.selected {
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:0px;
  width:186px;
  height:526px;
  overflow:hidden;
}
#u1259_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:526px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1259_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u1260_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1260_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:100px;
  width:159px;
  height:235px;
  overflow:hidden;
  visibility:hidden;
}
#u1262_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:235px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1262_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1263_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1263.mouseOver {
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1265_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1265.mouseOver {
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1267_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1267.mouseOver {
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1269_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1269.mouseOver {
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1271_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1271.mouseOver {
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1273_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1273.mouseOver {
}
#u1273_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1273.selected {
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u1275_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1275_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u1276_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1276_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u1278_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1278_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1279_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1279.mouseOver {
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1281_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1281.mouseOver {
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1283_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1283.mouseOver {
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1285_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1285.mouseOver {
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1287_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1287.mouseOver {
}
#u1287_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1287.selected {
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u1289_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1289_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u1290_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1290_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u1292_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1292_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1293_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1293.mouseOver {
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1295_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1295.mouseOver {
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1297_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1297.mouseOver {
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1299_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1299.mouseOver {
}
#u1299_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1299.selected {
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u1301_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1301_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u1302_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1302_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u1304_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1304_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1305_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1305.mouseOver {
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1307_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1307.mouseOver {
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1309_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1309.mouseOver {
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1311_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1311.mouseOver {
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1313_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1313.mouseOver {
}
#u1313_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1313.selected {
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u1315_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1315_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u1316_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1316_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u1318_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1318_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1319_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1319.mouseOver {
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1321_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1321.mouseOver {
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1323_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1323.mouseOver {
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1325_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1325.mouseOver {
}
#u1325_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1325.selected {
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#26D1E9;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:140px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#26D1E9;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:214px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:288px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:362px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u1335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:436px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:509px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:583px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:657px;
  width:62px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  word-wrap:break-word;
}
